body{
    text-align: center;
}
.btn{
    height: 100px;
    width: 100px;
    border-radius: 20%;
    margin: 1rem;
    border: 10px solid black;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.blue{
    background-color: rgb(64, 183, 247);
}
.purple{
    background-color: rgb(243, 102, 243);
}
.red{
    background-color: rgb(244, 80, 80);
}
.yellow{
    background-color: yellow;
}
.gameflash{
    background-color: white;
}
.userflash{
    background-color: black;
}